header
    nav
        ul
            li
                a(href="/" class="custom-icon")
                    i(class="fa-solid fa-xl fa-home")
        if !user
            ul
                li 
                    a(href="/login" class="custom-icon") 
                        i(class="fa-solid fa-xl fa-right-to-bracket")