include ../components/head.pug
body(class="container")
    include ../components/nav.pug
    main
        h1 Social Login
        article
            div(style="display:flex; gap:2rem")
                a(href="/login/oauth/github")
                    svg(width="90" height="90")
                        image(xlink:href="logos/github-mark-white.svg" width="90" height="90")